.reseption{

}
.mdlocation_reseption{
    color: aqua;
    bottom: -60px;
    left: 570px;
    &:hover{
        color: aquamarine;
        cursor: pointer;
    }
}
.mdlocation_2{
    color: aqua;
    bottom: 30px;
    left: 570px;
    &:hover{
        color: aquamarine;
        cursor: pointer;
    }

}
.mdlocation_3{
    color: aqua;
    bottom: 140px;
    left: 570px;
    &:hover{
        color: aquamarine;
        cursor: pointer;
    }
    
}
.mdlocation_4{
    color: aqua;
    bottom: 250px;
    left: 570px;
    &:hover{
        color: aquamarine;
        cursor: pointer;
    }
    
}
.mdlocation_5{
    color: aqua;
    bottom: 360px;
    left: 570px;
    &:hover{
        color: aquamarine;
        cursor: pointer;
    }
}
    
.mdlocation_reseption_exit{
    color: aqua;
    top: 320px;
    right: 370px;
    &:hover{
        color: aquamarine;
        cursor: pointer;
    }

}

.room_loc1{
    color: aqua;
    top: 320px;
    right: 350px;
    &:hover{
        color: yellow;
        cursor: pointer;
    }
    
}

.room_loc2{
    color: aqua;
    top: 320px;
    left: 390px;
    &:hover{
        color: yellow;
        cursor: pointer;
    }


}
.room_loc3{
    color: aqua;
    top: 320px;
    left: 230px;
    &:hover{
        color: yellow;
        cursor: pointer;
    }


}.room_loc4{
    color: aqua;
    top: 320px;
    right: 170px;
    &:hover{
        color: yellow;
        cursor: pointer;
    }


}
.room_loc5{
    color: aqua;
    top: 450px;
    right: 500px;
    &:hover{
        color: yellow;
        cursor: pointer;
    }


}